.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Form label {
  font-family: "minecraft";
  color: #fff;
  margin: 0 1rem;
  text-shadow: 1px 1px black;
}

.Input {
  font-family: "minecraft";
  margin: 0 1rem;
  width: 15rem;
  padding: 0.3rem;
}
.InputPort {
  font-family: "minecraft";
  padding: 0.3rem;
  width: 5rem;
}
