@font-face {
  font-family: "Minecraft";
  src: url("../../resources/Minecraft.ttf") format("truetype");
}

.Title {
  font-size: 3em;
  text-align: center;
  font-family: "Minecrafter";
  color: #bfb5b2;
  text-shadow: 0px 1px 1px #171717, 0px 2px 1px #171717, 0px 3px 1px #171717, 0px 4px 1px #171717, 0px 5px 1px #171717, 0px 6px 1px #171717, 0px 7px 1px #171717,
    0px 8px 1px #171717, 0px 9px 1px #171717, 0px 10px 1px #171717, 0px 11px 1px #171717, 0px 12px 1px #171717, 0px 13px 1px #171717, 0px 14px 1px #171717,
    0px 15px 1px #171717;
  transform: perspective(20px) rotateX(1deg);
}
.List {
  overflow: auto;
  height: 300px;
}
.ListContainer {
  padding: 2rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px black;
  background-color: rgba(25, 25, 25, 0.5);
}
.ListContainer h3 {
  font-family: "Minecraft";
  /* text-align: center; */
  color: #fff;
}

.PlayersWrapper{
  display: flex;
  padding: .5rem 0;
  align-items: center;
  border-bottom: 1px solid rgba(25, 25, 25, 0.5);
}
.PlayerAvatar{
  border-radius: 50% 50%;
  width: 32px;
  height: 32px;
}
.PlayerInfoWrapper{
  padding: 0 1rem;
}

.List__name {
  font-family: "Minecraft";
  color: #fff;
  text-shadow: 1px 1px black;
}
.List__description {
  font-family: "Minecraft";
  font-size: 0.9em;
  color: cyan;
  font-style: italic;
  text-shadow: 1px 1px black;
}
.PlayerOnline {
  color: lime;
  text-shadow: 1px 1px black;
  padding-left: .5rem;
}

.Nobody {
  text-align: center;
  font-style: italic;
}

.ServerInfo {
  /* text-align: center; */
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .Title {
    font-size: 5em;
  }
}
