@font-face {
  font-family: "Minecraft";
  src: url("../../resources/Minecraft.ttf") format("truetype");
}
@font-face {
  font-family: "Minecrafter";
  src: url("../../resources/Minecrafter.Reg.ttf") format("truetype");
}

.header {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  font-family: "Minecrafter";
  justify-content: center;
  background-image: url("../../resources/bg.png");
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-size: cover;
  text-align: center;
  background-color: #47832a;
}

.header h1 {
  color: gray;
  text-shadow: 1px 1px black;
  font-size: 4em; 
}

.List {
  padding: 2rem 0;
  max-width: 20rem;
  margin: 0 auto;
}

.List__description{
  font-family: "Minecraft";
}