@font-face {
  font-family: "Minecrafter";
  src: url("./resources/Minecrafter.Alt.ttf") format("truetype");
}

.Background {
  background-image: url("./resources/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  filter: brightness(0.7);
}
.Main {
  z-index: 2;
  position: relative;
  overflow: hidden;
}
