@font-face {
  font-family: "Minecrafter";
  src: url("./resources/Minecrafter.Alt.ttf") format("truetype");
}

.Title {
  font-size: 3em;
  text-align: center;
  font-family: "Minecrafter";
  color: #bfb5b2;
  text-shadow: 0px 1px 1px #171717, 0px 2px 1px #171717, 0px 3px 1px #171717, 0px 4px 1px #171717, 0px 5px 1px #171717, 0px 6px 1px #171717, 0px 7px 1px #171717,
    0px 8px 1px #171717, 0px 9px 1px #171717, 0px 10px 1px #171717, 0px 11px 1px #171717, 0px 12px 1px #171717, 0px 13px 1px #171717, 0px 14px 1px #171717,
    0px 15px 1px #171717;
  transform: perspective(20px) rotateX(1deg);
}
.Background {
  background-image: url("./resources/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}
.Main {
  z-index: 2;
  position: relative;
}

@media (min-width: 40rem) {
  .Title {
    font-size: 5em;
  }
}
